:root {
  --ctp-rosewater: #f2d5cf;
  --ctp-flamingo: #eebebe;
  --ctp-pink: #f4b8e4;
  --ctp-mauve: #ca9ee6;
  --ctp-red: #e78284;
  --ctp-maroon: #ea999c;
  --ctp-peach: #ef9f76;
  --ctp-yellow: #e5c890;
  --ctp-green: #a6d189;
  --ctp-teal: #81c8be;
  --ctp-sky: #99d1db;
  --ctp-sapphire: #85c1dc;
  --ctp-blue: #8caaee;
  --ctp-lavender: #babbf1;
  --ctp-text: #c6ceef;
  --ctp-subtext1: #b5bddc;
  --ctp-subtext0: #a5acc9;
  --ctp-overlay2: #949bb7;
  --ctp-overlay1: #838aa4;
  --ctp-overlay0: #737891;
  --ctp-surface2: #62677e;
  --ctp-surface1: #51566c;
  --ctp-surface0: #414559;
  --ctp-base: #303446;
  --ctp-mantle: #292c3c;
  --ctp-crust: #232634;
}

/*tab close button*/
.Tab .close > svg {
  fill: var(--ctp-maroon);
}

.Tab .close:hover > svg {
  fill: var(--ctp-red);
}

/*containers*/
#root[data-style="auto"] {
  --container-fg: var(--ctp-text);
  --active-container-fg: var(--ctp-text);
}

/*bookmarks*/
#root[data-style="auto"] {
  --bookmarks-node-title-fg: var(--ctp-subtext0);
  --bookmarks-node-title-fg-hover: var(--ctp-subtext1);
  --bookmarks-node-title-fg-active: var(--ctp-text);
  --bookmarks-node-bg-hover: var(--ctp-crust);
  --bookmarks-node-bg-active: var(--ctp-mantle);
  --bookmarks-folder-closed-fg: var(--ctp-surface2);
  --bookmarks-folder-closed-fg-hover: var(--ctp-sky);
  --bookmarks-folder-closed-fg-active: var(--ctp-sky);
  --bookmarks-folder-expanded-fg: var(--ctp-blue);
  --bookmarks-folder-expanded-fg-hover: var(--ctp-blue);
  --bookmarks-folder-expanded-fg-active: var(--ctp-blue);
  --bookmarks-folder-empty-fg: var(--ctp-surface0);
  --bookmarks-open-bookmark-fg: var(--ctp-blue);
}

/*tabs*/
#root[data-style="auto"] {
  --tabs-fg: var(--ctp-subtext0);
  --tabs-fg-hover: var(--ctp-subtext1);
  --tabs-fg-active: var(--ctp-rosewater);
  --tabs-bg-hover: var(--ctp-crust);
  --tabs-bg-active: var(--ctp-mantle);
  --tabs-activated-bg: var(--ctp-mantle);
  --tabs-activated-fg: var(--ctp-text);
  --tabs-selected-bg: var(--ctp-blue);
  --tabs-selected-fg: var(--ctp-crust);
  --tabs-loading-fg: var(--ctp-blue);
  --tabs-update-badge-bg: var(--ctp-blue);
  --tabs-lvl-indicator-bg: var(--ctp-surface0);
}

/*navbar button*/
#root[data-style="auto"] {
  --nav-btn-fg: var(--ctp-text);
  --nav-btn-bg-focus: var(--ctp-overlay0);
  --nav-btn-activated-bg: var(--ctp-mantle);
  /*(shadow not styled yet)*/
  --nav-btn-update-badge-bg: var(--ctp-blue);
}

/*context menu*/
#root[data-style="auto"] {
  --ctx-menu-bg: var(--ctp-surface0);
  --ctx-menu-bg-hover: var(--ctp-base);
  --ctx-menu-warn-bg-hover: var(--ctp-maroon);
  --ctx-menu-fg: var(--ctp-text);
  --ctx-menu-warn-fg: var(--ctp-maroon);
  /*(shadow not styled yet)*/
}

/*buttons*/
#root[data-style="auto"] {
  --btn-bg: var(--ctp-blue);
  --btn-bg-hover: var(--ctp-sapphire);
  --btn-bg-active: var(--ctp-sky);
}

/*base*/
#root[data-style="auto"] {
  --bg: var(--ctp-base);
  --title-fg: var(--ctp-text);
  --sub-title-fg: var(--ctp-text);
  --label-fg: var(--ctp-subtext0);
  --label-fg-hover: var(--ctp-subtext1);
  --label-fg-active: var(--ctp-text);
  --info-fg: var(--ctp-sapphire);
  --true-fg: var(--ctp-green);
  --false-fg: var(--ctp-red);
  --false-bg: var(--ctp-crust);
  --active-fg: var(--ctp-blue);
  --inactive-fg: var(--ctp-surface2);
  --notice-fg: var(--ctp-sky);
  --favicons-placeholder-bg: var(--ctp-surface0);
  --border-fg: var(--ctp-crust);
  --border-active-fg: var(--ctp-crust);
  --border-flare-fg: var(--ctp-mantle);
  --progress-fg: var(--ctp-sky);
  --progress-bg: var(--ctp-surface0);
}
